body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.header {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 16px;
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.player iframe {
  width: 100%;
  height: 60vh;
  border: none;
}


