body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

header {
  background: #000;
  padding: 10px;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 8px 12px;
  background: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #222;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 5px;
}
/* ===== Страница фильма ===== */

.movie-page {
  padding: 20px;
}

.movie-page h2 {
  margin-top: 10px;
}

.movie-page p {
  opacity: 0.8;
}

.movie-page iframe {
  width: 100%;
  height: 400px;
  margin-top: 15px;
  border-radius: 10px;
}

.movie-page button {
  background: #e50914;
  color: #fff;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  margin-bottom: 15px;
}
